# Ignorer node dependencies
/node_modules/

# Ignorer vendor-folder (bruges til fonts m.m.)
/vendor/

# Ignorer standardmoduler
/modules/default/

# Ignorer frontend-filer der bliver bygget automatisk
/css/
/fonts/
/js/
/translations/

# Undtagelser: behold din konfiguration og egne moduler
!config/config.js
!modules/MMM-*/**
.env
